PORT=3000
MONGODB_USERNAME=shameem278700_db_user
MONGODB_PASSWORD=
MONGODB_URI=mongodb+srv://shameem278700_db_user:<password>@cluster0.38v7pyb.mongodb.net/pocket_poll?retryWrites=true&w=majority
DB_PASSWORD=
DISABLE_HMR=true
